@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --button-bg-color: #9e2b25; 
  --button-text-color: #34e0a1; 
  --font-family: 'VT323', monospace;
  --font-weight: 400;
  --shadow-color: rgba(52, 224, 161, 0.6); 
}

.ant-btn,
.ant-btn-primary, 
[class*="ant-btn-variant-solid"] {
  color: var(--button-text-color) !important; 
  background: var(--button-bg-color) !important;
  border-color: var(--button-bg-color) !important; 
  font-family: var(--font-family) !important;
  font-weight: var(--font-weight);
  border-radius: 10px;
  padding: 4px 20px; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ant-btn:hover,
.ant-btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px var(--shadow-color) !important; 
  filter: brightness(1.1); 
}

.ant-btn-default, 
.ant-btn-variant-outlined {
  background: transparent !important;
  border: 1px solid var(--button-bg-color) !important;
  color: var(--button-bg-color) !important;
}

.ant-btn-default:hover,
.ant-btn-variant-outlined:hover {
  background: var(--button-bg-color) !important;
  color: var(--button-text-color) !important;
}
